h1 {
    font-size: 40px;
}

hr {
    width: 100%;
    border: none;
    background-color:rgb(0, 161, 245);
}


.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(44, 81, 163);
    height: 50px;
    padding: 20px;
}

h1,
.header a {
    color:rgb(0, 162, 255);
    /*color: rgb(127 251 183); */
}

a:hover {
    color: rgb(127 251 183);
}

.header ul {
    list-style: none;
    display: flex;
    gap:20px; 
}

.header a {
    text-decoration:underline;
}

.hero{
    height: 150px;
    width: 100%;
    background-image: url(../images/matrixCodeBlue.png);
    background-size: cover;
}

.contentContainer{
    padding: 0 10px;
}

.sectionHeader {
    width: 20%;
}

.hr {
    width: 0.4%;
    height: auto;
    overflow: hidden;
    display: flex;
    
}

.sectionContent {
    width: 79%;
    
}

.aboutMe,
.work {
    display: flex;
    margin-top: 30px;
}

.sectionHeader h1 {
    text-align: end;
    padding-right: 20px;
}

.sectionContent > * {
    padding: 5px 20px;
    
}

